# Set up the debug adapter
adapter driver cmsis-dap
adapter speed 500

# Load the default Nuvoton NuMicro config
# See: https://github.com/openocd-org/openocd/blob/master/tcl/target/numicro.cfg
source [find target/numicro.cfg]
